/* Tailwind css v4 doesn't use tailwind config anymore */
@layer theme, base, components, utilities;
@import 'tailwindcss';

/* morden normalize */
@import "tailwindcss/preflight.css" layer(base);
 
@theme {
  --color-regal-blue: #243c5a; 
  --color-gray-primary: #2A2A3A;
  --color-gray-secondary: #3A3A4A;
  --color-gray-tertiary: #5A5A68;
  --color-gray-light: #8f8f8f;
  --color-success: #66D575;
  --color-warning: #D9A647;
  --color-info: #47D2D9;
  --color-danger: #D94E47;
  --color-beige-light: #C0B090;
  --color-green-dark: #5A7A4E;
  --color-green-mint: #7EBBAD;
  --color-red-light: #CC7E8E;
  --color-red-salmon: #E05858;
  --color-yellow-light: #FFF092;

  --text-title: 1.6rem;
  --text-subtitle: 1.4rem;
  --text-section: 1.2rem;
  --text-subsection: 1rem;
  --text-body: 0.8rem;
  --text-label: 0.7rem;

  --spacing-header: 5rem;
  --spacing-page-height: calc(100vh - var(--spacing-header));
  --spacing-max-width: 120rem;
  --spacing-max-height: 56rem;
}
