/* Tailwind css v4 doesn't use tailwind config anymore */
@layer theme, base, components, utilities;
@import 'tailwindcss';

/* morden normalize */
@import "tailwindcss/preflight.css" layer(base);
 
@theme {
  --color-regal-blue: #243c5a; 
  --color-gray-primary: #5A5A68;
  --color-beige-primary: #C0B090;
}
